<!DOCTYPE html>
<html>
<head>
 <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<title>Student Information System</title> 
<link href="/stylesheets/style1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/script/index.js">
</script>
<script type="text/javascript" src="/script/index1.js">
</script>
<script type="text/javascript" src="/script/index2.js">
</script>
<script type="text/javascript" src="/script/index3.js">
</script>
<script type="text/javascript" src="/script/index4.js">
</script>
<script type="text/javascript" src="/script/sample.js">
</script>
</head>
<body>
 <div id="wrapper">
     <div id="header">
            <h1><a href="#"><b>Student Information System</b></a></h1>
        </div>
 <div id="menu">
      <ul><%if current_user%>
		<li><%= link_to "Create Student",  '/home/create_user?student=true' %></li>
                <li><%= link_to "Create Admin", '/home/create_user?admin=true' %></li>
                <li><%= link_to "Task", '/home/task' %></li>
                <%end%>
      </ul>
</div>
	<div id="page">
		<div id="page-bgtop">
			<div id="page">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">WELCOME</a></h2>
						<p class="meta">
                                                  <span class="date">January 06, 2012</span>
                                                  <span class="posted"><%if current_user%>
                                                  <%= link_to "MyPage",home_show_path(current_user)%> 
                                                  <%if current_user.is_admin?%><a href="/home">Home</a><%end%>
                                                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><%end%></span>
                                                </p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
                                                <div style="clear: both;">&nbsp;</div>
							   <%= yield %>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<div id="logo">
						
					</div>
							
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyrights & Designed by Priyadarsini</p>
</div>
<!-- end #footer -->

</body>
</html>
